@charset "utf-8";
.nav {
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: rgba(0,0,0,1.00);
}
.content {
    padding-top: 75px;
}
.col-1 {
    padding-bottom: 0px;
    width: 33.3%;
    float: left;
    padding-top: 200px;
    background-image: url(video-games.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.col-1 a {
    color: #000000;
}

.col-1 p {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
}

.col-2 {
	padding-top: 200px;
    width: 33.3%;
    background-repeat: no-repeat;
    background-image: url(tcg.jpg);
    background-size: cover;
    float: left;
}
.col-2 a {
    color: #000000;
}

.col-2 p {
    padding-top: 0px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
}

.col-3 {
    padding-top: 200px;
    width: 33.3%;
    float: left;
    background-image: url(pokken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.col-3 a {
    color: #000000;
}

.col-3 p {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
}

.footer {
    clear: both;
    padding-top: 52px;
    padding-bottom: 52px;
    text-align: center;
    background-color: rgba(0,0,0,1.00);
    background-position: center center;
    color: #FFFFFF;
}
.footer a {
    color: #FFFFFF;
}

.body {
}
ul {
    text-align: center;


}
.content p img {
    float: none;

}


.header {
    padding-top: 55px;
    padding-bottom: 53px;
    background-image: url(header-bg.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
}
li {
    color: rgba(255,255,255,1.00);
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    list-style-type: none;
    display: inline;
}
.content a {
    display: block;
    width: 250px;
    text-align: center;
    margin-left: 35px;
    margin-right: 0px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #FE0000;
    color: #FFFFFF;
}

li a {
    color: rgba(255,255,255,1.00);
    display: inline;
}


.columns {
    clear: both;
}
.contentimg {
    float: right;
}
